body {
    color: rgb(224, 224, 224);
}

a:link {
color: rgb(255, 227, 227);
background-color: transparent;
text-decoration: none;
}

a:visited {
color: rgb(156, 156, 156);
background-color: transparent;
text-decoration: none;
}

a:hover {
color: black;
background-color: transparent;
text-decoration: underline;
}

a:active {
color: grey;
background-color: transparent;
text-decoration: underline;
}

.sansserif {
font-family: Arial, Helvetica, sans-serif;
}

.serif {
font-family: "Georgia", Georgia, serif;
}

body {
        background: rgb(30, 35, 53);
        padding-left: 50px;
        padding-right: 50px;
}
